@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@model Movie
<!--
    Author: Madison Hoyt
    Description: Mission 6 - making a movie form that connects to a database
-->
<!--Home page with Joel Hilton's picture-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="500" />
</div>

